.home-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    transition: margin-left 0.3s ease;
    /* background-color: white; */
}

.home-content {
    flex: 1; 
    flex-grow: 1;
    padding: 20px;
    transition: margin-left 0.3s ease;
    height: 120vh;
    overflow-y: scroll;
    background-color: #DDE6ED;
  }

  .home-content h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
  }
  
  .footer {
    display: flex;
    background-color: #F6F5F5;
    justify-content: space-between;
    max-width: 100%;
    padding: 5px 15px;
    transition: all 0.3s ease;
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer-end {
    margin-left: auto;
  }
  
  