.sidebar {
    position: absolute;    
    top: 0px;
    left: -250px;
    height: 100%;
    border-right: 1px solid grey;
    transition: left 0.3s ease;
    overflow: hidden;
    width: 0;
  }
  
  .sidebar.open {
    position: none!important;
    left: 0;
    top: 0;
    width: 250px;
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0 30px;
    margin: 0;
    text-align: left;
}

.sidebar li {
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .sidebar li ul {
    list-style: none;
    padding-left: 20px;
    margin-top: 5px;
  }
  

  .sidebar li ul li {
    margin-bottom: 5px;
    font-weight: normal;
  }

  .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .list-icon {
    font-size: 1rem;
  }
  
  